.common-info
	margin 57px auto 0
	width 770px

	&__info-item
		display flex
		align-items flex-end
		padding-bottom 22px

	&__question
		padding-right 16px
		font-size 23px
		font-weight bold
		color #2f1b15
		justify-content left

	&__answer
		padding-left 16px
		font-family 'Courier New', sans-serif
		font-size 30px
		color #231f20
		border-bottom 9px solid
		border-image url(../images/line.png) 9 repeat
		justify-content left
		flex-grow 1
