mixin common-info()
	+b.common-info&attributes(attributes)
		+e.info-item
			+e.question Полное ФИО
			+e.answer Баранова Юлия Анатольевна
		+e.info-item
			+e.question Год рождения
			+e.answer 1989
		+e.info-item
			+e.question Место жительства
			+e.answer г. Н.Новгород, Россия
		+e.info-item
			+e.question Скайп
			+e.answer live:5aafc2070919f622
		+e.info-item
			+e.question Почта
			+e.answer yulya-777@mail.ru
