mixin about()
	+b.about&attributes(attributes)
		+e.P.paragraph
			| Я&nbsp;долгое время работала в&nbsp;других сферах, где не&nbsp;предвиделось развития. Про творчество и&nbsp;создание чего-то нового вообще молчу. Решила сменить сферу деятельности. Началось все с&nbsp;того, что я&nbsp;прошла курсы на&nbsp;
			+e.A.link(href="https://htmlacademy.ru", target="_blank") HTML&nbsp;Academy
			| . Сделала несколько учебных проектов. Когда верстала анкету узнала про линтеры. Автоматические проверки на&nbsp;соответствие кода принятым в&nbsp;проекте правилам очень удобны. В&nbsp;процессе исправления styl-кода задумалась об&nbsp;автоматизации однотипных исправлений (порядок свойств, удаление двоеточий и&nbsp;т.д). Обнаружила
			+e.A.link(href="https://github.com/SimenB/stylint/issues/405", target="_blank") этот тикет
			|  в&nbsp;репозитории stylint. Таким образом нашла
			+e.A.link(href="https://thisismanta.github.io/stylus-supremacy/", target="_blank") Stylus Supremacy
			| &nbsp;&mdash; линтер, исправляющий ошибки автоматически.
		+e.P.paragraph
			| Вакансия привлекла тем, что можно сосредоточиться именно на&nbsp;верстке (без серверного программирования), а&nbsp;с&nbsp;этого, как мне кажется, проще всего влиться в&nbsp;IT. Также привлекла привлекла возможность удаленной работы.
		+e.P.paragraph
			| Некоторые примеры моих работ можно найти на&nbsp;
			+e.A.link(href="https://github.com/yulia7771", target="_blank") GitHub
			| .
