.about
	&__paragraph
		font-family 'Courier New', sans-serif
		font-size 30px
		line-height 58px
		color #231f20
		background url(../images/line-about.png)

	&__link
		text-decoration none
		color #1f5f97
