.date
	margin 70px auto 0
	display flex
	width 770px
	align-items flex-end

	&__text
		font-size 22px
		font-weight bold
		line-height 20px
		color #2f1b15

	&__value
		margin-left 18px
		font-family 'Courier New', sans-serif
		font-size 30px
		color #231f20
		border-bottom 9px solid
		border-image url(../images/line-date.png) 9 repeat
