ptsans = PT Sans, sans-serif

@font-face
	font-family "PT Sans"
	src url("../fonts/ptsans.ttf")

@font-face
	font-family "PT Sans"
	font-weight bold
	src url("../fonts/ptsans-bold.ttf")

@font-face
	font-family "PT Sans"
	font-style italic
	src url("../fonts/ptsans-italic.ttf")

@font-face
	font-family "PT Sans"
	font-style italic
	font-weight bold
	src url("../fonts/ptsans-italic-bold.ttf")
