extends /blocks/layout-default/layout-default
include /blocks/header/header
include /blocks/common-info/common-info
include /blocks/page-section/page-section
include /blocks/skills/skills
include /blocks/about/about
include /blocks/js-level/js-level
include /blocks/plans/plans
include /blocks/date/date

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+header
	+common-info
	+page-section("Расскажите о себе чекбоксами", "Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.")
		+skills
	+page-section("Расскажите о себе словами", "Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.")
		+about
	+page-section("Уровень владения JavaScript")
		+js-level
	+page-section("Какие у вас планы на будущее?", "Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.", "_for-plans")
		+plans
	+date
