.js-level
	position relative
	height 100px
	background url(../images/js-level.png) no-repeat top center

	&__triangle
		position absolute
		top 10px
		width 17px
		height 14px
		cursor pointer
		background url(../images/triangle.png) no-repeat

	&__caption
		position absolute
		top 60px
		font-size 13px
		font-weight bold
		color #2f1b15

		&_c1
			left 0

		&_c2
			left 144px

		&_c3
			left 370px
			width 167px

		&_c4
			right 0
