mixin js-level()
	+b.js-level&attributes(attributes)
		+e.triangle(style="left:68px")
		+e.caption._c1 Не владею
		+e.caption._c2 Использую готовые решения
		+e.caption._c3 Использую готовые решения и умею их переделывать
		+e.caption._c4 Пишу сложный JS с нуля
